<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.3.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
	">
	
   
   <!-- scan the package and the sub package -->
	<!-- <context:component-scan base-package="com.game.controller">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	</context:component-scan> -->
	<context:component-scan base-package="com.game" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>
    
	<context:component-scan base-package="com.cb" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>
	
	<!-- 自动扫描 -->
    <context:component-scan base-package="com.game" />
    <context:component-scan base-package="com.cb" />
    
    <!-- 定义aspectj -->
	<aop:aspectj-autoproxy proxy-target-class="true" />
	
   <import resource="classpath:spring/spring-game-mybatis.xml"/>
   <import resource="classpath:spring/spring-game-redis.xml"/>
   <!-- <import resource="classpath:spring/spring-game-mongodb.xml"/> -->
   
	<task:scheduler id="scheduler" pool-size="5"/>
    <task:executor id="executor" pool-size="5"/>
    <task:annotation-driven executor="executor" scheduler="scheduler" proxy-target-class="true"/>
	
	<!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <!-- 配置Fastjson 替换原来的jackson支持 -->
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json</value>
                    </list>
                </property>
                <property name="features">
                    <list>
                        <value>QuoteFieldNames</value> <!-- 输出key时是否使用双引号,默认为true -->
                        <value>WriteMapNullValue</value>  <!-- 是否输出值为null的字段,默认为false -->
                        <!-- 
                        <value>DisableCircularReferenceDetect</value>
                        <value>WriteDateUseDateFormat</value> 
                        <value>WriteNullStringAsEmpty</value>  字符类型字段如果为null,输出为"",而非null 
                        <value>WriteNullNumberAsZero</value>  数值字段如果为null,输出为0,而非null 
                        <value>WriteNullBooleanAsFalse</value>  Boolean字段如果为null,输出为false,而非null 
                        <value>WriteNullListAsEmpty</value>    List字段如果为null,输出为[],而非null
                        -->
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
</beans>
